*.ncb
*.sdf
/Plugins/VRPNPlugin/Win32/build
/Plugins/VRPNPlugin/Win32/Release
/Projects/VRPNWrapper/Temp
/Projects/VRPNWrapper/Library
/Projects/VRPNWrapper/obj
/Plugins/VRPNPlugin/Win32/VRPNPlugin.opensdf
*.opensdf
.DS_Store
*.pdb
/Plugins/VRPNPlugin/Win32/VRPNPlugin.v12.suo
/Plugins/VRPNPlugin/Win32/*.suo
/test-client/test-client/Debug
/test-client/test-client/Release
